body {
	background: #cccccc;
}

@font-face {
    font-family: 'MarinesBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2502-1@1.0/MarinesBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#align {
	display: flex;
  align-items: center;
  justify-content: center;	
  height: 100vh;
}

#stage {
	width: 900px;
	height: 556px;
	margin: auto;
	background: #000000;
	position: relative;
}

#cupramen {
  width: 120px;
  height: 0;
  border-top: 200px solid #ff3300;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  /* border-bottom: 150px solid #ff3300; */
  border-radius: 10px;
  /* border-bottom-left-radius: 10px; */
  position: absolute;
  top: 180px;
  left: 340px;
}

#table {
  width: -webkit-fill-available;
  height: 150px;
  background: #eed16f;
  top: 300px;
  left: 0px;
  position: absolute;
    /* animation: spin 2s infinite;	width: 150px;

	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */

}

#can {
  width: 90px;
  height: 240px;
  background: #001eff;
  border-radius: 10px;
  top: 140px;
  left: 480px;
  position: absolute;
  z-index: 10;
	/* uncomment to add keyframe animation */
	/* animation: spin 2s infinite; */
}

	#can2 {
    width: 90px;
    height: 17px;
    background: #dddddd;
    border-radius: 45px / 7.5px;
    top: 137px;
    left: 480px;
    position: absolute;
    z-index: 11;
}

  #cupramen2 {
    width: 180px;
    height: 17px;
    background: #871c1c;
    border-radius: 60px / 7.5px;
    top: 175px;
    left: 341px;
    position: absolute;
    z-index: 1;
}

  #can4 {
    transform: rotate(90deg);
    transform-origin: left top;
    font-family: 'MarinesBold';
    font-size: 29px;
    color: #ffffff;
    position: absolute;
    white-space: nowrap;
    top: 190px;
    left: 542px;
    z-index: 30;
    letter-spacing: 4px;
  }

#apple {
	width: 150px;
	height: 130px;
	background: linear-gradient(75deg, #ffb400, #cf0000);
	border-radius: 150px;
	top: 250px;
	left: 340px;
	position: absolute;
	z-index: 1;
}

#can3 {
  width: 20px;
  height: 220px;
  background: white;
  clip-path: polygon(30% 0%, 61% 35%, 55% 57%, 79% 91%, 20% 91%, 10% 57%, 30% 35%);
  top: 180px;
  left: 490px;
  position: absolute;
  z-index: 20;
}

  #doll {
    width: 150px;
    height: 170px;
    background: #ffd62e;
    border-radius: 90px;
    top: 120px;
    left: 560px;
    position: absolute;
    z-index: 100;
}

#doll2 {
    width: 39px;
    height: 102px;
    background: #fff9d9;
    border-radius: 100px;
    top: 180px;
    left: 678px;
    position: absolute;
    z-index: 110;
}

#doll3 {
    width: 120px;
    height: 130px;
    background: #ffd62e;
    border-radius: 150px;
    top: 250px;
    left: 580px;
    position: absolute;
    z-index: 90;
}

#doll4 {
    width: 60px;
    height: 100px;
    background: white;
    border-radius: 180px;
    top: 270px;
    left: 640px;
    position: absolute;
    z-index: 95;
}

#doll5 {
    width: 55px;
    height: 60px;
    background: white;
    border-radius: 20px;
    top: 130px;
    left: 600px;
    position: absolute;
    clip-path: polygon(0% 0%, 0% 100%, 70% 20%);
    z-index: 120;
}

#doll10 {
    width: 79px;
    height: 84px;
    background: #ffd62e;
    border-radius: 20px;
    top: 111px;
    left: 589px;
    position: absolute;
    clip-path: polygon(0% 0%, 0% 100%, 70% 20%);
    z-index: 115;
  }

#doll6 {
    width: 65px;
    height: 63px;
    background: #ffa22e;
    border-radius: 40px;
    top: 150px;
    left: 669px;
    clip-path: polygon(40% 0%, 0% 100%, 100% 60%);
    position: absolute;
    z-index: 150;
}

#doll7 {
    width: 37px;
    height: 31px;
    background: #fff9d9;
    border-radius: 150px;
    top: 229px;
    left: 698px;
    position: absolute;
    z-index: 160;
  }

#doll8 {
    width: 40px;
    height: 70px;
    background: white;
    border-radius: 150px;
    top: 312px;
    left: 590px;
    position: absolute;
    z-index: 180;
    transform: rotate(11deg);
    transform-origin: left top;
}

#doll9 {
    width: 20px;
    height: 40px;
    background: white;
    border-radius: 150px;
    top: 352px;
    left: 600px;
    position: absolute;
    z-index: 180;
    transform: rotate(328deg);
    transform-origin: left top;
}

#doll11 {
    width: 40px;
    height: 59px;
    background: white;
    border-radius: 22px;
    top: 330px;
    left: 693px;
    position: absolute;
    z-index: 180;
}

#doll12 {
    width: 46px;
    height: 51px;
    background: #ffd62e;
    border-radius: 20px;
    top: 337px;
    left: 661px;
    position: absolute;
    z-index: 170;
}
	/* uncomment for css transitions */
	/* transition: all 400ms ease; */


/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/